<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--Informacion-->
    <add key="Contabilidad" value="SI" />
    <add key="Ambiente" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="FactConexion" connectionString="metadata=res://*/Data.BDfact.csdl|res://*/Data.BDfact.ssdl|res://*/Data.BDfact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAP\DESA;initial catalog=dbAyE;user id=sa;password=sistemas;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding3" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BillServicePortBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="SunatProduccion.billService" name="BillServicePort" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="customBinding" bindingConfiguration="BillServicePortBinding1"
        contract="SunatProduccion.billService" name="BillServicePort.0" />
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding2"
        contract="SunatProduccion.billService" name="BillServicePort.3" />
    </client>
  </system.serviceModel>
</configuration>